<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="~{fragments/common-head :: common-head}"></head>

        <body class="min-h-screen bg-canvas text-text-primary antialiased flex flex-col">
        <!-- Loading Overlay -->
        <div th:replace="~{fragments/loading-overlay :: loading-overlay}"></div>

        <!-- Flash Messages -->
        <div th:insert="~{fragments/flash-message :: flash-message-block}" th:remove="tag"></div>

        <!-- Top Navigation -->
        <div th:replace="~{fragments/top-menu :: top-menu}"></div>

        <!-- Main Content -->
        <main class="flex-1 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" layout:fragment="contentBody">
            <!-- Page content injected here -->
        </main>

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>

        <!-- Flash Message Scripts -->
        <th:block th:replace="~{fragments/flash-message-scripts :: flash-message-scripts}"></th:block>

        <!-- Page-specific JS imports -->
        <th:block layout:fragment="customJsImportBlock"></th:block>

        <!-- Page-specific inline JS -->
        <script layout:fragment="localJsCodeBlock" type="text/javascript"></script>
    </body>
</html>
