<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <script th:fragment="flash-message-scripts" th:inline="javascript">
        $(function () {
            "use strict";

            var FLASH_AUTO_DISMISS_MS = 5000;
            var FLASH_FADE_DURATION = 300;

            // Hide loading overlay on page ready
            $("#loading-overlay").removeClass("flex").addClass("hidden");

            // Flash message manual dismiss
            $(document).on("click", ".js-flash-dismiss", function () {
                $(this)
                    .closest(".flash-message")
                    .fadeOut(FLASH_FADE_DURATION, function () {
                        $(this).remove();
                    });
            });

            // Flash message auto-dismiss
            setTimeout(function () {
                $("#flash-message-block .flash-message").fadeOut(FLASH_FADE_DURATION, function () {
                    $(this).remove();
                });
            }, FLASH_AUTO_DISMISS_MS);

            // HTMX loading overlay integration
            $(document).on("htmx:beforeRequest", function () {
                $("#loading-overlay").removeClass("hidden").addClass("flex");
            });

            $(document).on("htmx:afterRequest", function () {
                $("#loading-overlay").removeClass("flex").addClass("hidden");
            });

            $(document).on("htmx:responseError", function () {
                $("#loading-overlay").removeClass("flex").addClass("hidden");
            });
        });
    </script>
</html>
