<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            th:fragment="globalErrors"
            th:if="${#fields.hasGlobalErrors()}"
            class="p-4 bg-error-lightest border border-error-light rounded-lg"
        >
            <div class="flex items-start gap-3">
                <div th:replace="~{fragments/icons :: alert}"></div>
                <div>
                    <p
                        class="text-sm font-medium text-error-dark"
                        th:each="err : ${#fields.globalErrors()}"
                        th:text="${err}"
                    >
                        Global error
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
